<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/styles/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   <div class="container">
    {{>nav}}

    <div class="header_secton text-center">
        <h1>
            I am a fullstack web developer looking for an Internship! 
        </h1>
        <p>
           I design and code beautifully simple things, and I love what I do!
        </p>
        <img src="public/images/tech.png" alt="hero">
    </div>
    <div class="hero_section" id="home">
        <img src="public/images/hero_1img.jpeg" alt="my img" width="500px">
        <div class="bg-primary p-5 text-center text-light">
                <h2>
                    Hi, I am Ayushi. Nice to meet you.
                </h2>
                <p>
                    As a student of Software Engineering Technology at Centennial College, I am eager to apply my skills and knowledge to real-world projects. I am actively seeking an internship for the period of May-August 2023 to gain practical experience and enhance my learning. I am passionate about software development and have a strong understanding of programming languages such as JavaScript,HTML,CSS, C#, Python, SQL, and Linux. Along with my technical expertise, I possess excellent problem-solving skills and can work well in a team environment. I am confident that my enthusiasm for software development and dedication to learning will make me a valuable asset to any organization.
                </p>
           </div>
         </div>

         {{!--  1st 6 cards--}}
         <div class="row card_state">
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                   <div class="card-header bg-white border-0">
                    <i class="fa fa-code"></i>
                   </div>
                   <div class="card-title text-center">
                    <h4>Front-End Developer</h4>
                    <p>
                        I like to code things from scratch, and enjoy bringing ideas to life in the browser.
                    </p>
                   </div>
                   <div class="card-body text-center">
                    <h5 class="text-primary">
                        Languages I speak:
                    </h5>
                    <p>
                        HTML, Pug, Slim, CSS, Sass, Git
                    </p>
                    <hr class="mb-4">
                    <h6 class="text-primary">
                        Dev Tools:
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">VS Code</li>
                        <li class="list-group-item">BootStrap</li>
                        <li class="list-group-item">GitHub</li>
                        <li class="list-group-item">Sublime</li>
                        <li class="list-group-item">Codekit</li>
                    </ul>
                   </div>
                </div>
            </div>








                        <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                   <div class="card-header bg-white border-0">
                    <i class="fa fa-code"></i>
                   </div>
                   <div class="card-title text-center">
                    <h4>Front-End Developer</h4>
                    <p>
                        I like to code things from scratch, and enjoy bringing ideas to life in the browser.
                    </p>
                   </div>
                   <div class="card-body text-center">
                    <h5 class="text-primary">
                        Languages I speak:
                    </h5>
                    <p>
                        HTML, Pug, Slim, CSS, Sass, Git
                    </p>
                    <hr class="mb-4">
                    <h6 class="text-primary">
                        Dev Tools:
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">VS Code</li>
                        <li class="list-group-item">BootStrap</li>
                        <li class="list-group-item">GitHub</li>
                        <li class="list-group-item">Sublime</li>
                        <li class="list-group-item">Codekit</li>
                    </ul>
                   </div>
                </div>
            </div>








                        <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                   <div class="card-header bg-white border-0">
                    <i class="fa fa-code"></i>
                   </div>
                   <div class="card-title text-center">
                    <h4>Front-End Developer</h4>
                    <p>
                        I like to code things from scratch, and enjoy bringing ideas to life in the browser.
                    </p>
                   </div>
                   <div class="card-body text-center">
                    <h5 class="text-primary">
                        Languages I speak:
                    </h5>
                    <p>
                        HTML, Pug, Slim, CSS, Sass, Git
                    </p>
                    <hr class="mb-4">
                    <h6 class="text-primary">
                        Dev Tools:
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">VS Code</li>
                        <li class="list-group-item">BootStrap</li>
                        <li class="list-group-item">GitHub</li>
                        <li class="list-group-item">Sublime</li>
                        <li class="list-group-item">Codekit</li>
                    </ul>
                   </div>
                </div>
            </div>








                        <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                   <div class="card-header bg-white border-0">
                    <i class="fa fa-code"></i>
                   </div>
                   <div class="card-title text-center">
                    <h4>Front-End Developer</h4>
                    <p>
                        I like to code things from scratch, and enjoy bringing ideas to life in the browser.
                    </p>
                   </div>
                   <div class="card-body text-center">
                    <h5 class="text-primary">
                        Languages I speak:
                    </h5>
                    <p>
                        HTML, Pug, Slim, CSS, Sass, Git
                    </p>
                    <hr class="mb-4">
                    <h6 class="text-primary">
                        Dev Tools:
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">VS Code</li>
                        <li class="list-group-item">BootStrap</li>
                        <li class="list-group-item">GitHub</li>
                        <li class="list-group-item">Sublime</li>
                        <li class="list-group-item">Codekit</li>
                    </ul>
                   </div>
                </div>
            </div>









                        <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                   <div class="card-header bg-white border-0">
                    <i class="fa fa-code"></i>
                   </div>
                   <div class="card-title text-center">
                    <h4>Front-End Developer</h4>
                    <p>
                        I like to code things from scratch, and enjoy bringing ideas to life in the browser.
                    </p>
                   </div>
                   <div class="card-body text-center">
                    <h5 class="text-primary">
                        Languages I speak:
                    </h5>
                    <p>
                        HTML, Pug, Slim, CSS, Sass, Git
                    </p>
                    <hr class="mb-4">
                    <h6 class="text-primary">
                        Dev Tools:
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">VS Code</li>
                        <li class="list-group-item">BootStrap</li>
                        <li class="list-group-item">GitHub</li>
                        <li class="list-group-item">Sublime</li>
                        <li class="list-group-item">Codekit</li>
                    </ul>
                   </div>
                </div>
            </div>









                        <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                   <div class="card-header bg-white border-0">
                    <i class="fa fa-code"></i>
                   </div>
                   <div class="card-title text-center">
                    <h4>Front-End Developer</h4>
                    <p>
                        I like to code things from scratch, and enjoy bringing ideas to life in the browser.
                    </p>
                   </div>
                   <div class="card-body text-center">
                    <h5 class="text-primary">
                        Languages I speak:
                    </h5>
                    <p>
                        HTML, Pug, Slim, CSS, Sass, Git
                    </p>
                    <hr class="mb-4">
                    <h6 class="text-primary">
                        Dev Tools:
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">VS Code</li>
                        <li class="list-group-item">BootStrap</li>
                        <li class="list-group-item">GitHub</li>
                        <li class="list-group-item">Sublime</li>
                        <li class="list-group-item">Codekit</li>
                    </ul>
                   </div>
                </div>
            </div>













{{!-- Services card --}}
<div class="service text-center" id="service">
<h2>
    Services
</h2>
<p>
    I can make any time of web page according to requirements.
</p>




<div class="row">

    
    <div class="col-12 col-md-4 col-lg-4 mt-5">
        <div class="card border-0 p-5 shadow">
            <div class="card-header bg-white border-0">
                    <img class="img-fluid" src= "public/images/app_dev.png" alt="">
            </div>
                <div class="card-title text-center">
                    <h4>App Developer</h4>
                    <p>
                        As a web development intern, I learn to build and maintain websites, focusing on coding, design, and user experience. I work with various technologies, gaining hands-on experience in creating responsive and interactive web applications.
                    </p>
                        <button type="button" class="btn btn-primary">Learn more</                     button>                   
                </div>
        </div>            
    </div>   


        
<div class="col-12 col-md-4 col-lg-4 mt-5">
        <div class="card border-0 p-5 shadow">
                <div class="card-header bg-white border-0">
                      <img class="img-fluid" src= "public/images/app_dev.png" alt="">
                </div>
                <div class="card-title text-center">
                      <h4>App Developer</h4>
                        <p>
                        As a web development intern, I learn to build and maintain websites, focusing on coding, design, and user experience. I work with various technologies, gaining hands-on experience in creating responsive and interactive web applications.
                        </p>
                        <button type="button" class="btn btn-primary">Learn more</button>                   
                </div>
        </div>
</div>






    <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                   <div class="card-header bg-white border-0">
                    <img class="img-fluid" src= "public/images/app_dev.png" alt="">
                   </div>
                   <div class="card-title text-center">
                    <h4>App Developer</h4>
                    <p>
                        As a web development intern, I learn to build and maintain websites, focusing on coding, design, and user experience. I work with various technologies, gaining hands-on experience in creating responsive and interactive web applications.
                    </p>
                        <button type="button" class="btn btn-primary">Learn more</                     button>                   
                </div>
            </div>
    </div>




    <hr class="mt-5 mb-5">
    <div class="work_section">
        <h5>
             Work Experience:           
        </h5>

        <p>           
        I Work as a Production Co-Ordinator at Duplication.ca since October 2022. 
        </p>
        <div class="row">
          <div class="col-12 col-md-4 col-lg-4 mt-5">
            <img src="public/images/amtech.png" class="border" alt="">
          </div>  
    </div>






    <hr class="mt-5 mb-5">

<div class="contact_us" id="contact">
    <form method="POST" action="/contactdata">
        <h2>Contact Us</h2>
        <p>
            Contact The Help Team  
        </p>


  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input  name="user"   type="text" class="form-control" id="username"> 
  </div>

  <div class="mb-3">
    <label for="username" class="form-label">Email address</label>
    <input  name="email"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3 ">
    <label for="" class="mb-2">type your message here</label>
    <div class="form-floating">
  <textarea name="msg" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Comments</label>
</div>
  </div>
  <button name="submit" type="submit" class="btn btn-primary">Submit</button>
</form>

</div>   




{{!-- 
<div class="footer bg-light">
    <img src="public/images/logo_2.png " width="60px" height="60px" alt="logo">
</div>
<h3 class="bg-light">
    Living, learning, & leveling up one day at a time.
</h3>



<div class="social_icons bg-light">
    <a href=""><i class="fa fa-facebook"></i></a>
</div>
<p class="bg-light">
Handcrafted by Ayushi Modi © 2023  
</p>
</div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html> --}}







<div class="footer bg-light" id="about">
    <img src="public/images/logo_2.png" alt="logo img" class="footer-logo">
    <h3>Living, learning, & leveling up one day at a time.</h3>
    <div class="social_icons">
        <a href="" class="social-icon"><i class="fa fa-facebook"></i></a>
        <a href="" class="social-icon"><i class="fa fa-instagram"></i></a>
        <a href="" class="social-icon"><i class="fa fa-linkedin"></i></a>
    </div>
    <p>Handcrafted by Ayushi Modi © 2023</p>
</div>

    </div>              
    <script src="js/bootstrap.min.js"></script>
</body>
</html>